modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["jq", "gcc"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32927
externalPort = 8000

[[ports]]
localPort = 33139
externalPort = 5173

[[ports]]
localPort = 35039
externalPort = 4200

[[ports]]
localPort = 35127
externalPort = 3003

[[ports]]
localPort = 37463
externalPort = 8080

[[ports]]
localPort = 37499
externalPort = 6000

[[ports]]
localPort = 37501
externalPort = 5000

[[ports]]
localPort = 40791
externalPort = 8008

[[ports]]
localPort = 40891
externalPort = 8081

[[ports]]
localPort = 42757
externalPort = 9000

[[ports]]
localPort = 43925
externalPort = 3002

[[ports]]
localPort = 45435
externalPort = 3001

[[ports]]
localPort = 46345
externalPort = 3000

[[ports]]
localPort = 46711
externalPort = 8099

[[ports]]
localPort = 46753
externalPort = 6800

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run.sh"
waitForPort = 5000

[objectStorage]
defaultBucketID = "replit-objstore-6734e6ae-f5bc-4b60-9949-32434051f7ed"

[userenv]

[userenv.development]
MOCK_OCR = "true"
